Given a number N. Print numbers from 1 to N in separate lines.
Input: 5

Output:

1

2

3

4

5

In [3]:
n=int(input("Enter Your Number:"))
for i in range(1,6):
    n+=1
    print (i)
    print()

1

2

3

4

5

Given a number N. Print the summation of all numbers between 1 and N inclusive.
Input: 10 output: 55

In [44]:
n=int(input("enter num"))
total=0
for i in range(0, n+1):
    total+=i
print(total)

55

# Triangle Star Pattern

Input: 4
Output:
* ## *
* ## **
* ## ***
* ## ****

In [46]:
for i in range(5):
    for x in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *

# Count Vowels in a String
## Take a string input and count how many vowels it contains.

In [14]:
s=input("Enter you String:")
vowels=["a","u","i","e","o"]
count=0
for i in s:
    if i in vowels:
        count+=1
print("vowels:",count)

vowels: 2

Given a list of  numbers. Count how many of these values are even, odd, positive and negative.

l=-5 0 -3 -4 12

Output:

Even: 3

Odd: 2

Positive: 1

Negative: 3

In [79]:
l=[-5,0,-3,-4,12]
even=0
odd=0
positive=0
negative=0
for x in l:
    if x %2==0:
        even+=1
    else:
        odd+=1
    if x >0:
        positive+=1
    elif x<0:
        negative+=1
print("positive:",positive)
print("negative:",negative)
print("even:",even)
print("odd:",odd)

positive: 1
negative: 3
even: 3
odd: 2