### Q1. Write a program that takes a number as input and prints its square root.

In [ ]:
num = float(input("Enter a number: "))

if num < 0:
    print("Cannot calculate square root of a negative number")
else:
    result = num ** 0.5
    print("Square root:", result)

### Q2. Create a list of numbers and write a program to find the sum of all

---

elements in the list.

In [ ]:
l=[40,55,64,65,33,36]
total=0
for x in l:
  total+=x
print(total)

293

### Q3. Create a list of five elements and remove the third element.

In [ ]:
x=["a","b","c","d","f"]
x.pop(2)
print(x)

['a', 'b', 'd', 'f']

### Q4. Create a list of numbers and write a program to sort it in ascending order.

In [ ]:
i=[10,40,90,60,80,54]
i.sort()
print(i)

[10, 40, 54, 60, 80, 90]

### Q5. Write a program to print the multiplication table of a given number.

In [ ]:
e=int(input("Enter your number"))
for i in range(1,11):
  print(e ,"x", i ,"=", e*i)

Enter your number5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Q6.
Write a program that takes a month number (1–12) and prints(use if and match):

"Winter"

"Spring"

"Summer"

"Autumn"

In [ ]:
month = int(input("Enter month number (1-12): "))

if month == 1:
    print("January")
elif month == 2:
    print("February")
elif month == 3:
    print("March")
elif month == 4:
    print("April")
elif month == 5:
    print("May")
elif month == 6:
    print("June")
elif month == 7:
    print("July")
elif month == 8:
    print("August")
elif month == 9:
    print("September")
elif month == 10:
    print("October")
elif month == 11:
    print("November")
elif month == 12:
    print("December")
else:
    print("Invalid month number")

Enter month number (1-12): 1
January

In [ ]:
month = int(input("Enter month number (1-12): "))

match month:
    case 1:
        print("January")
    case 2:
        print("February")
    case 3:
        print("March")
    case 4:
        print("April")
    case 5:
        print("May")
    case 6:
        print("June")
    case 7:
        print("July")
    case 8:
        print("August")
    case 9:
        print("September")
    case 10:
        print("October")
    case 11:
        print("November")
    case 12:
        print("December")
    case _:
        print("Invalid month number")

Enter month number (1-12): 2
February

Q7.
Take a character from the user(use if and match).
Check if it is a vowel (a, e, i, o, u) or not.

In [ ]:
v=(input("Enter your character:"))
vowel= "a","e","i","o","u"
if v in vowel:
 print("vowel")
else :
  print("Not vowel!")

Enter your character:o
vowel

In [ ]:
v=(input("Enter your character:"))
vowel= "a","e","i","o","u"
match v:
  case "a":
    print("vowel")
  case "e":
    print("vowel")
  case "i":
    print("vowel")
  case "o":
    print("vowel")
  case "u":
    print("vowel")
  case _:
    print("not vowel")

Enter your character:i
vowel

Write a program that:

Takes an integer number from the user

Calculates its factorial using a for loop

Prints the result

Example:

Input → 5

Output → 120

In [ ]:
i=int(input("Enter your num:"))
count=1
for s in range(1, i+1):
  count*=s
print(count)

Enter your num:5
120

Q9*
Given a list of numbers:

if number is even → add it to even_list

otherwise → add it to odd_list
Print both lists at the end.

In [ ]:
x=int(input("Enter your number:"))
even=list()
odd=list()
if x%2==0:
  even.append(x)
  print("even numbers:",even)
else:
   odd.append(x)
print("odd numbers:",odd)

Enter your number:8
even numbers: [8]
odd numbers: []

Q10.
Take a list of words.
Count how many words have length > 5.

In [ ]:
l=(input("ENTER YOUR WORD:")).split()
count=0
for x in l:
  if len(x)>5:
    count+=1
  print("count words",count)

ENTER YOUR WORD:mohamed,abdo ahmed
count words 1
count words 1

Level 4 – Advanced Thinking with for Loop

Write a program that:

Checks if a number is prime using a for loop

In [37]:
x=int(input("enter your number:"))
prime_num=True
if x<1:
 prime_num=False
for i in range(2,x):
 if i%x==0:
  prime_num=False
  print("prime number")
  break
 else:
   print("not prime number")

enter your number:5
not prime number
not prime number
not prime number

Given a number N. Print a face down right angled triangle that has N rows.

For more clarification see the example below.

Input =4

Output:

```
****
***
**
*

```

In [1]:
n = int(input())

for i in range(n, 0, -1):
    print("*" * i)

5
*****
****
***
**
*

Given 3 lines of input described as follow:

First line contains a symbol S
.
Second line contains a number N
.
Third line contains N
 numbers.
For each number Xi
 in the N
 numbers print a new line that contains the symbol S
 repeated Xi
 time.

Input
The first line contains a symbol S
 can be (+,−,∗,/)
.

The second line an number N
 (1≤N≤50)
.

The third line contains N
 numbers (1≤Xi≤100)

Input

$+$

5

5 2 4 3 7

Output:
```
+++++
++
++++
+++
+++++++
```

In [5]:

S = input().strip()
N = int(input())

numbers = list(map(int, input().split()))

for x in numbers:
    print(S * x)

10
16
5
10 * 5

Given a number N. Print a pyramid that has N rows.

For more clarification see the example below.

Input

Only one line containing a number N (1 ≤ N ≤ 99).

Output

Print the answer according to the required above.

Note
Don't print any extra spaces after symbol " * ".

Input

4

Output


```
   *
  ***
 *****
*******



```

In [7]:
N = int(input())

for i in range(1, N + 1):
    spaces = N - i
    stars = 2 * i - 1
    print(" " * spaces + "*" * stars)

5
    *
   ***
  *****
 *******
*********

Given a number N. Print a diamond that has 2N rows.

For more clarification see the example below.

Input
Only one line containing number N (1 ≤ N ≤ 99).

Output
Print the answer according to the required above.

Example
Input

4

Output
```
   *
  ***
 *****
*******
*******
 *****
  ***
   *
```
Note

Don't print any extra spaces after symbol " * ".

In [8]:

N = int(input())
for i in range(1, N + 1):
    spaces = N - i
    stars = 2 * i - 1
    print(" " * spaces + "*" * stars)

for i in range(N - 1, 0, -1):
    spaces = N - i
    stars = 2 * i - 1
    print(" " * spaces + "*" * stars)

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *